{% from "/macros/btn.twig" import btn as btn %}
{% extends "__layout.twig" %}

{% block content %}
<div class="row col-10">
    {% for object in bands %}
    <div class="m text-center col-3" style=" border: 1.5px solid gray">
        <div class="mt-2">
            <img class = "m-2" src="{{ object.image}}" style="width: 200px;"/>
            <div class="d-flex" m>
                {{ btn(object.name, "/bands/"~object.id, true) }}
              </div>
            <div class="mb-4">
                {{ btn("Картинка", "/bands/"~object.id~"?show=image", false) }}
                {{ btn("Описание", "/bands/"~object.id~"?show=info", false) }}
            </div> 
        </div>
    </div>
    {% endfor %}
</div>
    

{% endblock %}